<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}File Manager{% endblock %}</title>
</head>
<body>
    {% block content %}
        <p>Content goes here.</p>
    {% endblock %}
</body>
</html>
