{% extends 'base.html' %}

{% block title %}Available Files{% endblock %}

{% block content %}
    <h1>Available Files</h1>
    <p><a href="{% url 'files:upload' %}">Upload New File</a> &bull; <a href="{% url 'logout' %}">Log Out</a></p>
    <ul>
        {% for file in files %}
        <li>
            <strong><a href="{% url 'files:download' file_id=file.id %}">{{ file.name }}</a></strong> {{ file.created_at | date }} {{ file.created_at | time }} {% if file.is_public %}[<em>public</em>]{% endif %}
        </li>
        {% empty %}
        <li>You have no files</li>
        {% endfor %}
    </ul>
{% endblock %}
