{% extends 'base.html' %}

{% block title %}Upload a file{% endblock %}

{% block content %}
    <h1>Upload New File</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload File</button>
    </form>
{% endblock %}
