{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
    <h1>Log in to continue</h1>
    <p>Need to <a href="{% url 'user_registration' %}">register for an account</a>?</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit">Log In</button>
    </form>
{% endblock %}
