{% extends 'base.html' %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <h1>Create an Account</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Account</button>
    </form>
{% endblock %}
